<footer class="footer">
  <div class="footer__nav">
    <div class="footer__list">
      <a class="footer__nav-item" href="/index.html">Home</a>
      <a class="footer__nav-item" href="/quick_start">Quick Start</a>
    </div>
    <div class="footer__list">
      <a class="footer__nav-item" href="/blog/frames_and_forks">Frames and Forks</a>
      <a class="footer__nav-item" href="/blog/wheels">Wheelsets</a>
    </div>
    <div class="footer__list">
      <a class="footer__nav-item" href="/blog/accessories">Accessories</a>
      <a class="footer__nav-item" href="/blog/shop">Shop</a>
    </div>
  </div>
  <p class="footer__copyright"> 2017. BIKES-XL <p>
</footer>