<div class="share">
  <h2 class="share__title"> Share this post! </h2>
  <div class="share__list"> 
    <a class="share__item share__item--facebook" href="">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a class="share__item share__item--twitter" href="">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a class="share__item share__item--pinterest" href="">
      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
    </a>
    <a class="share__item share__item--email" href="">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
  </div>
</div>