<div class="sub-nav">
  <div class="sub-nav__section">  
    <a class="sub-nav__item" href="/quick_start">
      <img class="sub-nav__img" src="/images/menu/quickstart_dbrown.png">
    </a>
    <a class="sub-nav__item" href="/blog/frames_and_forks">
      <img class="sub-nav__img" src="/images/menu/fnf_dbrown.png">
    </a>
  </div>
  <ul class="sub-nav__list">
    <li>
      <a class="sub-nav__link" href="/blog/wheelsets">Wheelsets</a>
    </li>
    <li>
      <a class="sub-nav__link" href="/blog/accessories">Accessories</a>
    </li>
    <li>
      <a class="sub-nav__link" href="/blog/shop">Shop</a>
    </li>
  </ul>
</div>