---
layout: default
title: Label
pageable: true
per_page: 2
blog: blog
---
<h1 class="page-name"> <%= tagname.titleize %> </h1>
<%= partial "partials/_index" %>
<%= partial "partials/_paginate" %>