---
layout: default
title: Quick Start Guide

---


<h1 class="layout-main__h1">
My Story
</h1>
<p class="layout-main__paragraph"> 
I'm a big dude. I know all too well the hassles of trying to find things that fit me. I'm also on the taller side so that's like a double whammy.
I decided a while back that I wanted to get a bike to cruise around on for fun, and to maybe lose a few extra pounds. The problem was trying to
find a bike that could safey carry my weight, was comfortable, and also didn't break the bank. Many popular bike manufacturers made nice looking
bikes but they only supported riders up to 250 pounds, and that certainly wasn't enough for me. I scoured the internet and found some really solid
info and advice here and there - mostly on forums specifcally for Cyldesdales and Athenas (big and tall bike riders) - but nothing centralized. 
Here, you will find all of my years of knowledge and know-how compiled along with suggestions like "what rim size should you ride?" or "what style
frame should you use?" along with "how to" videos of bike maintenance and repairs.
<br>
<br>
<h1 class="layout-main__h1">
A Brief Overview of What to Look For
</h1>
<p class="layout-main__paragraph"> 
There are quite a few bikes you can buy online that would make for a good starter bike. Finding one that is top of the line or meets all of our
recommendations will most likely cost quite a bit, so unless you are willing to spend hundreds or even thousands of dollars then I'd suggest 
just making sure your bike hits a couple notable points. First and foremost, I'd suggest going with a diamond frame and riding with the stock forks. 
Mountain bikes are a good choice as they are typically made of a larger gauge tubing and will most likely be outfitted with 26 inch wheels which will 
provide a pretty solid foundation due to their durability. That isn't to say you shouldn't get a road bike, or that if you do then you should buy a
smaller wheelset. Sometimes you may find that you have limited options, so give the bike a ride and if everything feels good and sturdy then keep it
stock. However, if you start to develop pain after you've been riding for a while, if a specific part breaks often, or you notice certain 
points weakening then you should definitely consider upgrading that particular part. Remember, your bike should feel comfortable when you ride and 
you should also feel comfortable when you are riding your bike.
<br>
<br>
Once you've purchased your bike, the next thing you should absolutely do is find a local bike co-op, collective, or similar group to show you how 
to set your bike up. While your bike may be brand new, you will need to make a few tweaks here and there to ensure your properly fitted to ride. They
can also teach you how to fix your bike should anything go wrong with it. If a malfunction happens during a ride this sort of repair knowledge
will be invaluable. If you don't have a co-op or collective near you then check out your local bike shop. Most bike shops will also be able to show 
you how to maintain your bike and might also teach you how to make repairs.
<p class="layout-main__paragraph"> 